<div class="find-sec">
  <div class="find-inner">
    <div class="container">
      <div class="row">
        <div class="find-sec-left col-sm-12 col-md-6 res-cols">
          <div class="her-left-div">
            <div class="flower-holder">
              <img src="assets/flower.png" alt="" />
            </div>
            <div class="find-sec-left-text">
              <h1>Find Great Deals</h1>
              <p>
                Find the cheapest prices online, for your future Car Lease in 4
                quick easy steps.
              </p>
            </div>
          </div>
        </div>

        <div class="find-sec-right col-sm-12 col-md-6 res-cols">
          <div class="find-sec-right-form">
            <div>
              <p>Select Make</p>
              <select class="form-select" aria-label="Select Make">
                <option selected>Select Make</option>
                <option value="1">One</option>
              </select>
            </div>
            <div>
              <p>Select Model</p>
              <select class="form-select" aria-label="Select Model">
                <option selected>Select Model</option>
                <option value="1">One</option>
              </select>
            </div>
            <div>
              <p>Select Year</p>
              <select class="form-select" aria-label="Select Year">
                <option selected>Select Year</option>
                <option value="1">One</option>
              </select>
            </div>
            <button>EVALUATE NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
