<div class="app-why-our-car-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="app-about-us-sec-left">
                    <div class="app-about-us-sec-left-top">
                        <h1>About Us</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel aliquet tortor ut sit sit. Velit imperdiet integer elementum a scelerisque pulvinar venenatis sodales. Quis nulla euismod feugiat at interdum in. Venenatis arcu semper lectus quis sit in rhoncus auctor.</p>
                    </div>
                    <h2><img src="assets/ourlevel.svg" alt=""></h2>
                </div>
            </div>
            <div class="app-about-us-sec-right col-sm-12 col-md-6">
                <img src="assets/our level.png" alt="">
            </div>
        </div>
    </div>
</div>