<div class="sell-your-car-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 sell-your-car-sec-top">
                <h1>Sell your car the Motorway way</h1>
            </div>
        </div>
        <div class="ins-div">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-12">
                    <div class="insWay-left">
                        <div>
                            <img src="assets/point1.svg" alt="">
                        </div>
                        <div class="insText-div">
                            <h1>Instant valuation</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida gravida ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat nulla erat, id blandit arcu tempor ac. Curabitur ultricies efficitur erat in sodales. In cursus a purus</p>
                            <div class="step-holder-text-btn">
                                <button>Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-12">
                    <div class="ins-img-right">
                        <img class="size" src="assets/carapp.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- div2 -->
        <div class="ins-div pt-5">
            <img class="doted-line" src="assets/Line 4.svg" alt="">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-12">
                    <div class="insWay-left">
                        <div>
                            <img src="assets/cloack.svg" alt="">
                        </div>
                        <div>
                            <div class="insText-div">
                                <h1>Instant valuation</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida gravida ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat nulla erat, id blandit arcu tempor ac. Curabitur ultricies efficitur erat in sodales. In cursus a purus</p>
                                <div class="step-holder-text-btn">
                                    <button>Read more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-12">
                    <div>
                        <img class="size" src="assets/savetime.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
         <!-- div3 -->
         <div class="ins-div pt-5">
            <img class="doted-line" src="assets/Line 4.svg" alt="">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-12">
                    <div class="insWay-left">
                        <div>
                            <img src="assets/cash.svg" alt="">
                        </div>
                        <div>
                            <div class="insText-div">
                                <h1>Instant valuation</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida gravida ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat nulla erat, id blandit arcu tempor ac. Curabitur ultricies efficitur erat in sodales. In cursus a purus</p>
                                <div class="step-holder-text-btn">
                                    <button>Read more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-12">
                    <div>
                        <img class="size" src="assets/money.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="ins-div pt-5">
            <img class="doted-line" src="assets/Line 4.svg" alt="">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-12">
                    <div class="insWay-left">
                        <div>
                            <img src="assets/tinycar.svg" alt="">
                        </div>
                        <div>
                            <div class="insText-div">
                                <h1>Instant valuation</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida gravida ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consequat nulla erat, id blandit arcu tempor ac. Curabitur ultricies efficitur erat in sodales. In cursus a purus</p>
                                <div class="step-holder-text-btn">
                                    <button>Read more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-12">
                    <div>
                        <img class="size" src="assets/longdrive.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>