<div class="app-reviews-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 app-reviews-top">
                <h1>See what they say about us</h1>
            </div>

            <div class="reviews-holder col-sm-12 col-md-3">
                <p>Lorem ipsum dolor sit amet, consectetur  adipisicing elit, sed eius to mod tempor incididunt ut labore et dolore magna aliqua. Ut enims ad minim veniam. Aenean massa. Cum sociis natoque penatibus et magnis dis partu rient to montes.Aene an massa.</p>
                <div class="review-details">
                    <img src="assets/james.png" alt="">
                    <div class="review-details-text">
                        <h1>Cody Fisher</h1>
                        <p>Director</p>
                        <img src="assets/star rating.png" alt="">
                    </div>
                </div>
            </div>

            <div class="reviews-holder col-sm-12 col-md-3">
                <p>Lorem ipsum dolor sit amet, consectetur  adipisicing elit, sed eius to mod tempor incididunt ut labore et dolore magna aliqua. Ut enims ad minim veniam. Aenean massa. Cum sociis natoque penatibus et magnis dis partu rient to montes.Aene an massa.</p>
                <div class="review-details">
                    <img src="assets/james.png" alt="">
                    <div class="review-details-text">
                        <h1>Cody Fisher</h1>
                        <p>Director</p>
                        <img src="assets/star rating.png" alt="">
                    </div>
                </div>
            </div>

            <div class="reviews-holder col-sm-12 col-md-3">
                <p>Lorem ipsum dolor sit amet, consectetur  adipisicing elit, sed eius to mod tempor incididunt ut labore et dolore magna aliqua. Ut enims ad minim veniam. Aenean massa. Cum sociis natoque penatibus et magnis dis partu rient to montes.Aene an massa.</p>
                <div class="review-details">
                    <img src="assets/james.png" alt="">
                    <div class="review-details-text">
                        <h1>Cody Fisher</h1>
                        <p>Director</p>
                        <img src="assets/star rating.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>