<div class="level-up-bars-holder">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="level-up-box">
                    <h2><img src="assets/crown.svg" alt=""></h2>
                    <div class="level-up-box-text">
                        <h1>10.5k</h1>
                        <hr>
                        <p>Premium Cars</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="level-up-box">
                    <h2><img src="assets/smile.svg" alt=""></h2>
                    <div class="level-up-box-text">
                        <h1>8600+</h1>
                        <hr>
                        <p>Happy Customer</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="level-up-box">
                    <h2><img src="assets/trophy.svg" alt=""></h2>
                    <div class="level-up-box-text">
                        <h1>1200</h1>
                        <hr>
                        <p>Awward Winning</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="level-up-box">
                    <h2><img src="assets/home.svg" alt=""></h2>
                    <div class="level-up-box-text">
                        <h1>750</h1>
                        <hr>
                        <p>Years Experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>