<div class="why-us-sec">
  <div class="container">
    <div class="row">
      <div class="why-us-left col-sm-12 col-md-6 us-col">
        <p>Why choose us</p>
        <h1>Get the best experience of sell cars</h1>
        <div class="big-img-holder">
          <img src="assets/rage orange.png" alt="" />
        </div>
      </div>
      <div class="col-1"></div>
      <div class="why-us-right col-sm-12 col-md-5 us-col">
        <div class="why-us-right-point">
          <img src="assets/box.png" alt="" />
          <div class="why-us-right-point-text">
            <h1>Best Market Price Guaranteed</h1>
            <p>We refund 100% if you find best alternative</p>
          </div>
        </div>

        <div class="why-us-right-point">
          <img src="assets/user.png" alt="" />
          <div class="why-us-right-point-text">
            <h1>Evaluate Buyers</h1>
            <p>Don’t have a driver? We got you covered with that too.</p>
          </div>
        </div>

        <div class="why-us-right-point">
          <img src="assets/refresh.png" alt="" />
          <div class="why-us-right-point-text">
            <h1>Same Day Pickup</h1>
            <p>Book and we will deliver it directly to you within 24 Hours</p>
          </div>
        </div>

        <div class="why-us-right-point">
          <img src="assets/chat.png" alt="" />
          <div class="why-us-right-point-text">
            <h1>24/7 Support</h1>
            <p>Contact us if you have any issues</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
