<div class="world-largest">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 col-sm-12 world-largest-text">
                <h1>World Largest Car<br> <b>Scrap Provider</b></h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                <div class="world-largest-text">
                    <h2><img src="assets/tick.png" alt="">At vero eos et accusamus et iusto odio.</h2>
                    <h2><img src="assets/tick.png" alt="">Established fact that a reader will be distracted.</h2>
                    <h2><img src="assets/tick.png" alt="">Sed ut perspiciatis unde omnis iste natus sit</h2>
                </div>
                <div class="world-largest-text-btn">
                    <button>Discover more</button>
                </div>
            </div>
        </div>
    </div>
</div>