<div class="welcome-sec">
  <div class="container">
    <div class="row wel-row">
      <div class="col-12 col-sm-12 col-md-6 welcome-sec-text">
        <h1>
          Welcome to <br />
          SELL CAR UAE
        </h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <p>
          with desktop publishing software like Aldus PageMaker including
          versions ofLorem Ipsum
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 welcome-sec-img">
        <img src="assets/car deift1.png" alt="" />
      </div>
    </div>
  </div>
</div>
