<div class="nav-bar">
    <div class="container">
        <div class="row nav-row">
            <div class="nav-logo-holder col-lg-5 col-md-3 col-sm-12 col-12">
                <a href="index.html"><img src="assets/logo.png" alt=""></a>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-11 col-12">
                <div class="nav-links-holder">
                    <a href="#">FINANCING</a>
                    <a href="#">VALUE CAR</a>
                    <a href="#">BUY CAR</a>
                    <a href="#">ABOUT US</a>
                </div>
            </div>
            <div class="col-1 justify-content-end nav-dropdown-holder">
                <div class="dropdown">
                    <button class="dropbtn"><img src="assets/stack.png" alt=""></button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>