<footer>
    <div class="read-more-mob">
        <img class="" src="../../assets/read more.webp" alt="image">
    </div>
    
    <div class="footer-bg" [ngStyle]="{'background' : 'url(../../assets/footer-bg.webp)'}">
        <div class="container-footer">
            <div class="footer-contents">
            <div class="footer-circle">
                <div class="footer-inner-circle">
                </div>
            </div>
            <div class="footer-subscription">
                <h2><span>Subscribe</span> our Newsletter?</h2>
                <div class="subcription-box">
                    <input type="text" id="fname" name="fname" placeholder="Email address">
                    <button>Subscribe</button>
                </div>
            </div>
            <div class="footer-phone">
                <img src="../../assets/Mockup.webp" alt="image">
            </div>
            </div>
            </div>
            <div class="container">
                <div class="footer-icons">
                    <p class="copy-right">© SELLCARUAE, LLC All Rights Reserved</p>
                    <div class="f-s-icon flex">
                    <div class="icons-social"><img src="/assets/Vector (7).png" alt="image"></div>
                    <div class="icons-social"><img src="/assets/Vector (6).png" alt="image"></div>
                    <div class="icons-social"><img src="/assets/Vector (5).png" alt="image"></div>
                </div>
                </div>
            </div>
        </div>
    
</footer>