<div class="help-sec">
    <div class="container">
        <div class="row">
            <div class="help-sec-text col-sm-12 col-md-6">
                <h1>We Help <br> Car Sellers With ...</h1>
                <div class="buy-online-text-points">
                    <p><img src="assets/tick.png" alt="">Choose From our inventory</p>
                    <p><img src="assets/tick.png" alt="">We want to buy you car</p>
                    <p><img src="assets/tick.png" alt="">Approvals for all credit</p>
                    <p><img src="assets/tick.png" alt="">100% trusted</p>
                </div>
            </div>
        </div>
    </div>
</div>