<div class="buy-online">
  <div class="container">
    <div class="row">
      <div class="buy-online-text col-sm-12 col-md-5 buy-col">
        <h1>
          Things you should consider when selling your second hand car in UAE
        </h1>
        <div class="buy-online-text-para">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <p>
            with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </p>
        </div>
      </div>
      <div class="buy-online-img col-sm-12 col-md-7 buy-col">
        <img src="assets/bmw.png" alt="" />
      </div>
    </div>
  </div>
</div>
