 <div class="app-book-now-sec">
  <div class="container">
    <div class="row" style="align-items: center;">
      <div class="app-book-now-text col-sm-12 col-md-6">
        <h2>Top Brands</h2>
        <h1>The <b>best service</b> for evaluating and selling your car</h1>
        <p>There are many variations of available but the majority have suffered alteration in some form by injected</p>
        <div class="app-book-now-text-btn">
          <a href="#"><button>Book Now</button></a>
        </div>
      </div>

      <div class="col-1"></div>

      <div class="find-sec-right col-sm-12 col-md-5 res-cols">
          <div class="find-sec-right-form">
            <div class="top-heading">
              <h1>Book Now</h1>
            </div>
            <div>
              <select class="form-select" aria-label="Select Make">
                <option selected>Select Make</option>
                <option value="1">One</option>
              </select>
            </div>
            <div>
              <select class="form-select" aria-label="Select Model">
                <option selected>Select Model</option>
                <option value="1">One</option>
              </select>
            </div>
            <div>
              <select class="form-select" aria-label="Select Year">
                <option selected>Select Year</option>
                <option value="1">One</option>
              </select>
            </div>
            <a href="#"><button>EVALUATE NOW</button></a>
          </div>
          <div class="car-holder">
            <img src="../../assets/car.svg" alt="">
          </div>
        </div>
    </div>
  </div>
 </div>