<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 about-us-sec-left">
                <h3>Why Choose us</h3>
                <h1>We Are Dedicated To Provide Quality Service</h1>
                <p>There are many variations of passages available but the majority have suffered alteration in some form going to use a passage by injected humour randomised words which don't look even slightly believable.</p>
                <div class="about-us-sec-btn">
                    <button>Apply Now</button>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="our-points">
                    <div class="our-points-top">
                        <img src="assets/tesla.svg" alt="">
                        <h1>Best <b>Quality</b> Cars</h1>
                    </div>
                    <p>There are many variations of the passages available but the majo have suffered fact that reader will be dist alteration.</p>
                </div>

                <div class="our-points">
                    <div class="our-points-top">
                        <img src="assets/bagde.svg" alt="">
                        <h1>Reasonable <b>Price</b></h1>
                    </div>
                    <p>There are many variations of the passages available but the majo have suffered fact that reader will be dist alteration.</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-3">
                <div class="our-points">
                    <div class="our-points-top">
                        <img src="assets/fixit.svg" alt="">
                        <h1>Certified <b>Mechanics</b></h1>
                    </div>
                    <p>There are many variations of the passages available but the majo have suffered fact that reader will be dist alteration.</p>
                </div>

                <div class="our-points">
                    <div class="our-points-top">
                        <img src="assets/dollar.svg" alt="">
                        <h1>Popular <b>Brands</b></h1>
                    </div>
                    <p>There are many variations of the passages available but the majo have suffered fact that reader will be dist alteration.</p>
                </div>
            </div>
        </div>
    </div>
</div>